---
const size = "22"
---

<div class="flex gap-6 items-center">
    <a href="https://github.com/Shreehari-Acharya">
        <iconify-icon width={size} height={size} icon="ri:github-fill" class="text-slate-300 hover:text-slate-100"></iconify-icon>
    </a>
    <a href="">
        <iconify-icon width={size} height={size} icon="ri:linkedin-fill" class="text-slate-300 hover:text-slate-100"></iconify-icon>
    </a>
    <a href="">
        <iconify-icon width={size} height={size} icon="ri:twitter-x-line" class="text-slate-300 hover:text-slate-100"></iconify-icon>
    </a>
</div>